body {
    font-family: 'Lato', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    h1 {
        font-size: 60px;
        font-weight: bold;
    }

    a {
        color: black;
        text-decoration: none;
    }
}